<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="icon" href="http://obj-cache.cloud.ruanbekker.com/favicon.ico">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <title>Bookmarks Search</title>

</head>

<body>

  <div class="container">
    <div style="background:transparent !important" class="jumbotron">
      <div style="font-family: 'Pacifico', cursive;">
        <p>
          <center>
            <font size="8">Welcome To MyWebSite</font>
          </center>
        </p>
      </div>
    </div>
    <h3 style="font-family: 'Pacifico', cursive;">Rechercher un nom telephone,une localité ,un prix ou par description
    </h3>
    <form action="/" method="post">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="q" value="{{q}}" placeholder="Search" autofocus>
        <div class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
    <style>
      a img {
        width: 150px;
        height: 100px;
        padding: 5px;
      }
    </style>
    {% for hit in reponse%}
    <div class="row">
      <div class="col-sm-3">
        <a href="{{hit._source.source}}" target="_blank">
          <img src="{{hit._source.image}}" alt="{{hit._source.alt}}" title="{{hit._source.alt}}">
        </a>
      </div>
      <div class="col-sm-6">
        <h2><b>{{hit._source.nom }}</b></h2>
        <h4>{{hit._source.localite}}</h4>
        <p>{{ hit._source.description}}</p>
        <span>Disponible chez:{{ hit._source.publie_par}}</span> <br>
        <span style="color: rgb(109, 9, 2);">{{ hit._source.prix}}</span><br>
        <span>publié {{ hit._source.publie_le}}</span>
      </div>
    </div>
    {% endfor %}
    <br><br>
    <footer class="footer">
      <p>
        <h3 style="font-family: 'Pacifico', cursive;">&copy; 2019 Sonatel Academy </h3>
      </p>
    </footer>
  </div>
</body>

</html>